In [137]:
import json
import requests
import matplotlib.pyplot as plt
import pandas as pd

In [212]:
endpoint = 'https://data.nashville.gov/resource/fuaa-r5cm.json?$limit=50000'

In [213]:
response = requests.get(endpoint)

In [214]:
response

Make an API request that returns the months where "fire" was searched in 2016. Which month had the most searches?

In [215]:
params = {
    "Year": "2016",
    "Query Text": "fire"
}

In [216]:
response = requests.get(endpoint, params = params)

In [217]:
response

In [218]:
res = response.json()
res

[{'month_name': 'January',
  'year': '2016',
  'query_count': '19',
  'query_text': 'fire'},
 {'month_name': 'February',
  'year': '2016',
  'query_count': '35',
  'query_text': 'fire'},
 {'month_name': 'March',
  'year': '2016',
  'query_count': '32',
  'query_text': 'fire'},
 {'month_name': 'April',
  'year': '2016',
  'query_count': '26',
  'query_text': 'fire'},
 {'month_name': 'May',
  'year': '2016',
  'query_count': '24',
  'query_text': 'fire'},
 {'month_name': 'June',
  'year': '2016',
  'query_count': '31',
  'query_text': 'fire'},
 {'month_name': 'July',
  'year': '2016',
  'query_count': '24',
  'query_text': 'fire'},
 {'month_name': 'August',
  'year': '2016',
  'query_count': '47',
  'query_text': 'fire'},
 {'month_name': 'September',
  'year': '2016',
  'query_count': '36',
  'query_text': 'fire'},
 {'month_name': 'October',
  'year': '2016',
  'query_count': '38',
  'query_text': 'fire'},
 {'month_name': 'November',
  'year': '2016',
  'query_count': '32',
  'query_text': 'fire'},
 {'month_name': 'December',
  'year': '2016',
  'query_count': '38',
  'query_text': 'fire'}]

In [219]:
query_fire = pd.DataFrame(res)
query_fire

   month_name  year query_count query_text
0     January  2016          19       fire
1    February  2016          35       fire
2       March  2016          32       fire
3       April  2016          26       fire
4         May  2016          24       fire
5        June  2016          31       fire
6        July  2016          24       fire
7      August  2016          47       fire
8   September  2016          36       fire
9     October  2016          38       fire
10   November  2016          32       fire
11   December  2016          38       fire

In [220]:
print(query_fire[query_fire['query_count'] == query_fire['query_count'].max()])

  month_name  year query_count query_text
7     August  2016          47       fire

2. Make an API request that returns all the times a query was run more than 100 times in a month. How many times did this occur?

In [221]:
endpoint2 = 'https://data.nashville.gov/resource/fuaa-r5cm.json?$limit=50000'

response2 = requests.get(endpoint2)
response2

In [222]:
res2 = response2.json()

In [223]:
 high_queries = pd.DataFrame(res2)
high_queries

      month_name  year query_count         query_text month
0        January  2014         223               ebid   NaN
1        January  2014         112      property maps   NaN
2        January  2014          97               maps   NaN
3        January  2014          90       property tax   NaN
4        January  2014          76               jobs   NaN
...          ...   ...         ...                ...   ...
43672       July  2021           8     sign ordinance     7
43673       July  2021           8               snap     7
43674       July  2021           8     small business     7
43675       July  2021           8   water department     7
43676       July  2021           8  value of property     7

[43677 rows x 5 columns]

In [224]:
#trying to filter but error leads me to think query count col is str
#high_queries = high_queries[high_queries["query_count"]> 100] so will change to int
#high_queries['query_count'] = high_queries['query_count'].astype(float)
high_queries['query_count'] = pd.to_numeric(high_queries['query_count'])
high_queries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43677 entries, 0 to 43676
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   month_name   43677 non-null  object
 1   year         43677 non-null  object
 2   query_count  43676 non-null  float64
 3   query_text   43677 non-null  object
 4   month        15177 non-null  object
dtypes: float64(1), object(4)
memory usage: 1.7+ MB

In [229]:
#high_queries = high_queries[high_queries["query_count"]> 100]
over_100 = high_queries[high_queries['query_count'] > 100]
print(len(over_100))
#over_100 = high_queries[high_queries['query_count'] > 100]

1262

3.Make another API request that returns all the times "codes" was searched more than 100 times in a month. How many times did this occur?

In [232]:
codes_over_100 = over_100[over_100['query_text']== 'codes']
len(codes_over_100)

56