In [6]:
import json
import requests
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
endpoint = 'https://data.nashville.gov/resource/fuaa-r5cm.json'

In [8]:
response = requests.get(endpoint)

In [9]:
response

Make an API request that returns the months where "fire" was searched in 2016. Which month had the most searches?

In [34]:
params = {
"year" : "2016",
"Query Text" : "fire"
}

In [35]:
response = requests.get(endpoint, params = params)

In [36]:
response

In [37]:
res = response.json()
res

[{'month_name': 'January',
  'year': '2016',
  'query_count': '19',
  'query_text': 'fire'},
 {'month_name': 'February',
  'year': '2016',
  'query_count': '35',
  'query_text': 'fire'},
 {'month_name': 'March',
  'year': '2016',
  'query_count': '32',
  'query_text': 'fire'},
 {'month_name': 'April',
  'year': '2016',
  'query_count': '26',
  'query_text': 'fire'},
 {'month_name': 'May',
  'year': '2016',
  'query_count': '24',
  'query_text': 'fire'},
 {'month_name': 'June',
  'year': '2016',
  'query_count': '31',
  'query_text': 'fire'},
 {'month_name': 'July',
  'year': '2016',
  'query_count': '24',
  'query_text': 'fire'},
 {'month_name': 'August',
  'year': '2016',
  'query_count': '47',
  'query_text': 'fire'},
 {'month_name': 'September',
  'year': '2016',
  'query_count': '36',
  'query_text': 'fire'},
 {'month_name': 'October',
  'year': '2016',
  'query_count': '38',
  'query_text': 'fire'},
 {'month_name': 'November',
  'year': '2016',
  'query_count': '32',
  'query_text': 'fire'},
 {'month_name': 'December',
  'year': '2016',
  'query_count': '38',
  'query_text': 'fire'}]

In [48]:
query_fire = pd.DataFrame(res)
query_fire

   month_name  year query_count query_text
0     January  2016          19       fire
1    February  2016          35       fire
2       March  2016          32       fire
3       April  2016          26       fire
4         May  2016          24       fire
5        June  2016          31       fire
6        July  2016          24       fire
7      August  2016          47       fire
8   September  2016          36       fire
9     October  2016          38       fire
10   November  2016          32       fire
11   December  2016          38       fire

In [74]:
print(query_fire[query_fire['query_count'] == query_fire['query_count'].max()])

  month_name  year query_count query_text
7     August  2016          47       fire